.box {
    border: 1px solid black;
    background-color: rgba(245, 248, 238, 0.781);
    padding: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.item {
    height: 220px;
    width: 200px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
    display: grid;
    place-items: center;
    align-content: space-evenly;
    border-radius: 0px;
}

@media (max-width: 1024px){
    .container{
        grid-template-columns: repeat(2,200px);
        justify-content: center;
    }
}

@media (max-width: 480px){
    .container{
        grid-template-columns: repeat(1,200px);
        justify-content: center;
    }
}