.container {
    display: grid;
    height: 500px;
    width: 1000px;
    background-color: aqua;
    border: 1px solid black;
    grid-template-columns: 100px 100px 100px 100px ;
    grid-template-rows: 100px 100px 100px 100px ;
    /*grid-template-areas:"header header header header" "main main.sidebar" "footer footer footer footer";
    column-gap: 15px;
    row-gap: 10px;
    */
    justify-items: center;
    align-items: center;

}
.item{
    height: 100px;
    width: 100px;
    background-color: brown;
    border: 1px solid black;
    text-align: center;
    align-content: center;
    color: aliceblue;
       
}
.item1{
    grid-template-areas: header;
}
.item2{
    grid-template-areas: main;
}
.item3{
    grid-template-areas: sidebar;
}
.item4{
    grid-template-areas: footer;
}