.box{
    width: 100%;
    height: 100px;
    background: green;
}
@media(min-width:768px)
{
    .box
    {
        background: blue;
    }
}
@media (min-width:1024px){
    .box{
        background: red;
    }
}